*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.963); */
}
.bubles1{
    display: flex;
    height: 70vh;
    width: 100vw;
    margin-bottom:0px;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.fly1{
    display: flex;
    /* position:absolute; */
    justify-content: space-between;
    background-color: rgb(32, 9, 239);
    overflow: visible;
    width: 100vw;
    height: 32vh;
    align-items: last baseline;

}
/*  */
.bubles{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(247, 244, 244, 0.277);
    animation: animate 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.bubles:nth-child(2)
{
        position: relative;
        zoom:0.45;
        left: -10px;
        top: -120px;
        z-index: 20;
        animation-delay: 5s;

    }
    .bubles:nth-child(3)
{
        position: relative;
        zoom:0.23;
        left:50px;
        top: -120px;
        z-index: 20;
        animation-delay: 1s;

    }
    .bubles:nth-child(4)
    {
            position: relative;
            zoom:0.73;
            left:50px;
            top: -110px;
            z-index: 20;
            animation-delay: 7s;
    
        }
        .bubles:nth-child(5)
        {
                position: relative;
                zoom:1.4;
                left:5px;
                top: 20px;
                z-index: 20;
                animation-delay: 2s;
        
         }
        .bubles:nth-child(6)
        {
                
                zoom:0.2;
                z-index: 20;
                animation-delay: 3s;
            
        }

@keyframes animate {
    0% {
       transform:translateY(20px);
    }
    50% {
        filter: hue-rotate(360deg);
        transform:translateY(-20px);
    }
    100%{
        
        transform:translateY(20px);
    }
}

@keyframes animate2 {
    0% {
        background: linear-gradient(to right, rgb(5, 5, 5),rgb(90, 3, 8));

    }
    50% {
        background: linear-gradient(to right, rgba(99, 2, 2, 0.989),rgb(17, 16, 16));
    }
    100%{
        background: linear-gradient(to right, rgba(255, 0, 0, 0.607),rgba(0, 0, 255, 0.584));
    }
}


.bubles::before
{
    content: '';
    top: 50px;
    left: 45px;
    position: absolute;
    width: 30px;
    height:30px ;
    border-radius: 50%;
    background: white;
    z-index: 10;
    filter: blur(2px);

}
.bubles::after
{
    content: '';
    top: 80px;
    left: 80px;
    position: absolute;
    width: 20px;
    height:20px ;
    border-radius: 50%;
    background: white;
    z-index: 10;
    filter: blur(2px);

}
.bubles span{
    position: absolute;
    border-radius: 50%;
}
.bubles span:nth-child(1){
    inset: 10px;
    border-left: 15px solid blue;
    filter: blur(8px);
}
.bubles span:nth-child(2){
    inset: 10px;
    border-right: 15px solid rgb(255, 0, 64);
    filter: blur(8px);
}
.bubles span:nth-child(3){
    inset: 30px;
    border-bottom: 15px solid rgb(0, 255, 55);
    filter: blur(8px);
}

.bubles span:nth-child(4){
    inset: 30px;
    border-top: 15px solid rgb(235, 235, 225);
    filter: blur(8px);
}

.bubles span:nth-child(5){
    inset: 40px;
    border-right: 15px solid rgba(252, 252, 7, 0.721);
    filter: blur(12px);

}
.bubles span:nth-child(6){
    inset: 10px;
    border-bottom: 15px solid rgb(235, 235, 225);
    filter: blur(8px);
    transform: rotate(360deg);
}






.fly{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(247, 244, 244, 0.277);
    animation: animate3 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.fly::before
{
    content: '';

    position:absolute;
    justify-content: baseline;
    width:20px;
    height:20px ;
    border-radius: 50%;
    background: rgb(220, 232, 210);
    /* z-index: 10; */
    filter: blur(2px);

}
.fly::after
{
    content: '';
 
    position: relative;
    /* display: flex; */
    /* justify-content: baseline; */
    width: 5px;
    height:5px ;
    border-radius: 50%;
    background: rgb(241, 234, 234);
    /* z-index: 10; */
    filter: blur(2px);

}
.fly:nth-child(2)
{   /*display: flex; */
    /* background: red; */
        position: relative;
        /* left: -10px; */
        /* top: -120px; */
        z-index: 20;
        animation-delay: 1s;

    }
    .fly:nth-child(3)
    {
        /* background-color: rgba(247, 151, 7, 0.767); */
            position: relative;
            /* zoom:0.45; */
            /* left: -10px;
            top: -120px; */
            z-index: 20;
            animation-delay: 2s;
    
        }
        .fly:nth-child(4)
        { 
            /*display: flex;*/
            /* background: blue; */
                position: relative;
                zoom:2;
                /* left: -10px;
                top: -120px; */
                z-index: 20;
                animation-delay: 3s;
        
            }
            .fly:nth-child(5)
            {
                    position: relative;
                    zoom:0.5;
                    /* left: -10px;
                    top: -120px; */
                    z-index: 20;
                    animation-delay: 4s;
            
                }
                .fly:nth-child(6)
            {
                    position: relative;
                    zoom:1.4;
                    /* left: -10px;
                    top: -120px; */
                    z-index: 20;
                    animation-delay: 6s;
            
                }
                .fly:nth-child(7)
            {
                    position: relative;
                    zoom:0;
                    /* left: -10px;
                    top: -120px; */
                    z-index: 20;
                    animation-delay: 8s;
            
                }
                .fly:nth-child(8)
            {
                    position: relative;
                    zoom:2;
                    /* left: -10px;
                    top: -120px; */
                    z-index: 20;

                }
.fly span{
    position: absolute;
    border-radius: 50%;
}
.fly span:nth-child(1){
    inset: 3px;
    border-left: 3px solid blue;
    filter: blur(2px);
}
.fly span:nth-child(2){
    inset: 1px;
    border-right: 3px solid rgb(255, 0, 64);
    filter: blur(2px);
}
.fly span:nth-child(3){
    inset: 3px;
    border-bottom: 3px solid rgb(0, 255, 55);
    filter: blur(2px);
}

.fly span:nth-child(4){
    inset: 3px;
    border-top: 3px solid rgb(235, 235, 225);
    filter: blur(3px);
}

.fly span:nth-child(5){
    inset: 4px;
    border-right: 4px solid rgba(64, 64, 7, 0.721);
    filter: blur(5px);

}
.fly span:nth-child(6){
    inset: 10px;
    border-bottom: 4px solid rgb(235, 235, 225);
    filter: blur(3px);
    }
@keyframes animate3 {
    0% {
       transform: translateY(0vh);
    }
    25% {
        transform: translateY(-50vh);
        
    }
    50%{
        transform: translateY(0vh);
        filter: hue-rotate(-360);
    } 
    100%{
        transform: translateY(-100vh);
        
    }
}